project_id       = "project-616fef18-15b8-4d6c-8a2"
region           = "us-central1"
cluster_name     = "java-gke-cluster"
artifactory_url  = "my-jfrog-artifactory.duckdns.org/docker-local/taskflow"
github_org       = "amitpandey1992"
github_repo      = "gitops_poc"
db_instance_name = "taskflow-sql"
db_name          = "taskflow_db"
db_user          = "taskflow_user"
app_namespace    = "taskflow"
wif_pool_id      = "github-actions-pool"
